:root {
  --heading-font-family: "Comforter", cursive;
  --body-font-family: "Montserrat", sans-serif;
}
body {
  font-family: var(--body-font-family);
  font-weight: 500;
}

h1 {
  font-size: 150px;
}
h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

.heading-font {
  font-family: var(--heading-font-family);
}
.max-margin {
  margin-top: 75px;
}
.hero-img-home {
  background-image: url("/images/background-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img-about {
  background-image: url("/images/background-about.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img-projects {
  background-image: url("/images/background-projects.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img-contact {
  background-image: url("/images/background-contact.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }
  .max-margin {
    margin-top: 12px;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 95px;
  }

  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 12px;
  }
}

@media (max-width: 770px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }
}
